.product-div1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    
    
}
.add-banner{
    margin-top: 60px;
    height: 40vh;
    width: 98%;
    object-fit: contain;
}
.add-banner:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.2s;
}
.search-div{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    
   
}
.search-input{
    width: 50%;
    margin-right: 10px;
    cursor: pointer;
    
}
.search-div button{
    background-color: rgb(251, 27, 128);
    color: white;
    height: 38px;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.search-div button:hover{
    background-color:transparent;
    color: rgb(251, 27, 128);
    border: 1px solid rgb(251, 27, 128);
    transition: all 0.4s;
}
.Product-List-Div1{
    display: flex;
    flex-direction: column;
   height: 250px;
   width: 150px;
   margin:0px 10px 20px 20px;

}
.Product-List-Div1:hover{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.product-image-div1{
    height: 150px;
    width: 100%;
    
}
.product-image1{
    height: 130px;
    width: 100%;
    object-fit: fill;
   padding: 2px;
}
.product-description-div1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-price1{
    color: green;
    font-size: 17px;
    margin-bottom: 5px;
}
.product-strike-price1{
    color: gray;
    margin-left:5px ;
    font-size: 15px;
}
.product-rating1{
    background-color: rgba(0, 128, 0, 0.827);
    color: white;
    font-size: 12px;
    justify-content: center;
    border-radius: 5px;
    padding: 3px;
}
.add-to-cart-button1{
    padding: 5px;
    color: black;
    border-radius:20px;
    border: none;


}
.add-to-cart-button1:hover{
    color: white;
    background-color: rgb(241, 163, 19);
    cursor: pointer;

}
@media(max-width:480px){
    .Product-List-Div1{
        padding: 5px;
        margin: 0.1px;
        border: 0.5px solid rgba(0, 0, 0, 0.166);
    }
    .add-banner-div{
        height: 200px;
        width: 100%;
        margin: 20px 0px 0px 0px;
        object-fit: cover;

    }
    .add-banner{
        height: 200px;
        width: 98%;
        object-fit: fill;
    }
}